p{
    color: white;
    font-size: 25px;
}

h1{
    color: coral ;
    font-size: 75px;
/*    if you want to center something:*/
    text-align: center
}
h2{
    font-size: 30px;
}
body{
    background-color: darkcyan;
/*    change the font for the whole page using "font-family", you can add multiple fonts separated by
commas just in case a browser doesn't know a font.*/
    /*(https://www.w3schools.com/css/css_font.asp)has a list of web safe fonts, so you can see what works well.*/
    font-family: Ayuthaya, fantasy, Serif;
}

/*There is a long list of color choices on W3schools.com*/

li{
    list-style-type: square;
}

a{
    /*This would highlight behind the text of the anchor link vvv*/
    background-color: #e3e020;
    /*This would change the text color of the anchor link vvv*/
    color: black;
    /*How to remove the default underlining  on the link: vvv Make if you remove the underlining, you
    have some other indicator that the link is there.*/
    text-decoration: none;
}

/*How to style the entire unordered list:*/
ul{
    /*If you style an element, you also style the elements CONTAINED inside that element.*/
    /*You can override the styling of the contained elements if you want to.*/
    background-color: crimson;
}