p{
    color: white;
    font-size: 25px;
}

h1{
    color: coral;
    font-size: 75px;
/*    if you want to center something:*/
    text-align: center
}
h2{
    font-size: 30px;
}
body{
    background-color: darkcyan;
/*    change the font for the whole page using "font-family", you can add multiple fonts separated by
commas just in case a browser doesn't know a font.*/
    /*(https://www.w3schools.com/css/css_font.asp)has a list of web safe fonts, so you can see what works well.*/
    font-family: Ayuthaya, fantasy, Serif;
}

/*There is a long list of color choices on W3schools.com*/

li{
    list-style-type: square;
    /*to space out here, use padding*/
    padding: 5px;
    margin: 5px;
}

a{
    /*This would highlight behind the text of the anchor link vvv*/
    background-color: #e3e020;
    /*This would change the text color of the anchor link vvv*/
    color: black;
    /*How to remove the default underlining  on the link: vvv Make if you remove the underlining, you
    have some other indicator that the link is there.*/
    text-decoration: none;
}

/*How to style the entire unordered list:*/
ul{
    /*If you style an element, you also style the elements CONTAINED inside that element.*/
    /*You can override the styling of the contained elements if you want to.*/
    background-color: crimson;
}
/*this is used to give style to ID items on teh html file, only one with that designation on a page vvv*/
#most-favorite-fruit{
    background-color: deepskyblue;
    text-decoration: cadetblue;
}

/*this is used to give style to the CLASS elements, can have multiple designations.*/
.second-favorite-fruit{
    background-color: chartreuse;
}

/*list items that don't have class or id are not given the style attributes listed above^^^*/

#page-title{
    text-shadow: 4px 4px mediumseagreen;
/*    4px (how far down) 4px (how far to the right) the shadoews go, color ^^^*/
}

#favorite-music-name{
    background-color: rebeccapurple;
    text-shadow: 2px 1px cyan;
}

.favorite-section{
    background-color: darkorange;
    /*to make border around a section, list the width of the border (3px) color (black) style (dotted or dashed
     or double, etc.)*/
    border: 3px black double;
/*    to space out the sections, add a margin 10px (add the space)*/
    margin: 10px;
/*    to add space between the border and the content, add padding that will be applied to all the sides of the
dividers*/
    padding: 10px;
}